root = true

# Set default charset
[*]
charset = utf-8
end_of_line = lf

# 4 space indentation
[*.java]
indent_style = tab
indent_size = 4
ij_java_names_count_to_use_import_on_demand = 999
ij_java_class_count_to_use_import_on_demand = 999
